
# _____                              _______________________________\\
# ____/ TELEMAC Project Definitions /______________________________/\\
#
[Configurations]
configs: acflSLURM 

#
# General
# Global declarations that are set by default for all the configurations
[general]
language: 2
modules:  system
version:  v8p5
#
options: static api mpi hpc
#
f2py_name: f2py3 #-c --f77exec=armflang --f90exec=armflang
pyd_compiler: clang
pyd_fcompiler: flang
#
sfx_zip:    .zip
sfx_lib:    .a
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
#
val_root:   <root>/examples
#
val_rank:   all
#
mods_all:   -I <config>
#
incs_all:   -I/usr/include/python3.7m/
#
libs_all:
#
cmd_obj_c: armclang -fPIC -c <srcName> -o <objName>
#
acfl_opts: -fPIC -fno-backslash -fconvert=big-endian
#
# ACFL
#
[acflSLURM]
brief: ACFL using Open MPI submitted to slurm
#
mpi_cmdexec: mpirun -np <ncsize> <exename>
par_cmdexec: srun -n 1 -N 1 <config>/partel < <partel.par> >> <partel.log>
#
hpc_stdin: @#!/bin/bash
  @#SBATCH --job-name=<jobname>
  @#SBATCH --output=<jobname>-%j.out
  @#SBATCH --error=<jobname>-%j.err
  @#SBATCH --time=<walltime>
  @#SBATCH --ntasks=<ncsize>
  @#SBATCH --partition=<queue>
  @#SBATCH --exclusive
  @#SBATCH --nodes=<ncnode>
  @#SBATCH --ntasks-per-node=<nctile>
  module use /tools/acfl/modulefiles
  module use /tools/Libs/modulefiles
  module load acfl/23.10
  module load armpl/23.10.0 openmpi/acfl/4.1.6 cmake/23.28.1
  source <root>/configs/pysource.acflSLURM.sh
  <py_runcode>
#
hpc_runcode: sed -i 's/@#/#/g' HPC_STDIN; cp HPC_STDIN ../;cd ../;sbatch < <hpc_stdin>

cmd_obj:    mpif90 -c -cpp [acfl_opts] -O2 -DHAVE_MPI -DHAVE_MED -DHAVE_VTK <mods> <incs> <f95name>
cmd_lib:    armllvm-ar cru <libname> <objs>
cmd_exe:    mpif90 [acfl_opts] -lpthread -lm -o <exename> <objs> <libs>
#
incs_all: -I$METISHOME/include -I$HDF5HOME/include -I$MEDHOME/include 
#
libs_all:   -L$MEDHOME/lib -lmed -L$HDF5HOME/lib -lhdf5 -ldl -lz
            -L$METISHOME/lib -lmetis

